@import url('https://fonts.cdnfonts.com/css/queen-inline-grunge');

@font-face {
  font-family: "Queen Grunge";
  src: url("https://patrickporto.github.io/homebrewery-theme-sofww/fonts/queen-grunge.otf");
}


@font-face {
  font-family: "Futura PT Demi";
  src: url("https://patrickporto.github.io/homebrewery-theme-sofww/fonts/futura-pt-demi.otf");
}

@font-face {
  font-family: "Futura PT Book";
  src: url("https://patrickporto.github.io/homebrewery-theme-sofww/fonts/futura-pt-book.otf");
}

@font-face {
  font-family: "Garamond Premier Pro Bold";
  src: url("https://patrickporto.github.io/homebrewery-theme-sofww/fonts/garamond-premier-pro-bold");
}


.page {
  background-image: url("https://patrickporto.github.io/homebrewery-theme-sofww/imgs/background.png");
  background-size: contain;

  font-family: "Futura PT Book";
}

.page::after {
  display: none;
}


.page strong {
  color: #402049;
}

.page h1 {
  font-family: 'Queen Inline Grunge', sans-serif;
  font-size: 48px;
  font-weight: normal;
  color: #402049;
}


.page h1+p::first-letter {
  float: inherit;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  line-height: inherit;
}

.page h2 {
  font-family: 'Queen Grunge', sans-serif;
  font-size: 36px;
  font-weight: normal;
  color: #402049;
}


.page h3 {
  font-family: 'Queen Grunge', sans-serif;
  font-size: 28px;
  font-weight: normal;
  color: #402049;
  border-bottom: 4px double #000;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.page h4 {
  font-family: 'Queen Grunge', sans-serif;
  font-size: 28px;
  font-weight: normal;
  color: #402049;
  border-bottom: 1px solid #000;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.page h5 {
  font-family: 'Queen Grunge', sans-serif;
  font-size: 22px;
  font-weight: normal;
  color: #402049;
  background-color: #d3c9d4;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 4px
}

.page h6 {
  font-family: familyBookInsanityRemake;
  font-size: 16px;
  font-weight: normal;
  color: #000;
  text-align: center;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 4px double #402049;
  margin-bottom: 5px;
}


.page table thead th {
  background-color: #402049;
  color: #fff;
}

.page table tbody tr:nth-child(odd) {
  background-color: transparent;
}

.page table tbody tr:nth-child(even) {
  background-color: #d3c9d4;
}


.page .border {
  background-image: url("https://patrickporto.github.io/homebrewery-theme-sofww/imgs/background-border.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}

.page .border .border-title {
  font-family: 'Queen Grunge', sans-serif;
  position: absolute;
  bottom: 130px;
  left: -58px;
  transform: rotate(-90deg);
  white-space: nowrap;
  width: 182px;
  text-align: center;
}

.page .quote p, .page .quote span {
  padding-left: 25px;
  padding-right: 25px;
}

.page .quote::before,
.page .quote::after {
  content: "";
  display: block;
  width: 100%;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.page .quote::before {
  background-image: url("https://patrickporto.github.io/homebrewery-theme-sofww/imgs/separator.png");
  margin-bottom: 0px;
  height: 45px;
}

.page .quote::after {
  background-image: url("https://patrickporto.github.io/homebrewery-theme-sofww/imgs/separator-6.png");
  margin-top: 10px;
  height: 35px;
}

.page .quote h2 {
  font-family: familyBookInsanityRemake;
  text-align: center;
  font-size: 26px;
  margin-bottom: 5px;
}

.page .table-header {
  font-family: familyBookInsanityRemake;
  font-size: 16px;
  font-weight: bold;
  color: #402049;
  text-align: center;
  width: 100%;
  column-span: all;
}
